<svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
  <circle cx="100" cy="100" r="50" fill="var(--fill-color)" />
  <polygon points="100,10 110,40 90,40" fill="var(--fill-color)" />
  <polygon points="100,190 110,160 90,160" fill="var(--fill-color)" />
  <polygon points="10,100 40,110 40,90" fill="var(--fill-color)" />
  <polygon points="190,100 160,110 160,90" fill="var(--fill-color)" />
  <polygon points="30,30 50,50 20,40" fill="var(--fill-color)" />
  <polygon points="170,30 150,50 180,40" fill="var(--fill-color)" />
  <polygon points="30,170 50,150 20,160" fill="var(--fill-color)" />
  <polygon points="170,170 150,150 180,160" fill="var(--fill-color)" />
</svg>