<div *ngIf="isLoggedIn" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <button class="button" (click)="showPanel = !showPanel">Hi {{user.name}}</button>
    <!-- <div *ngIf="showPanel" class="panel"> -->
    <button class="button" (click)="logout()">Logout</button>
    <!-- </div> -->
</div>
<div *ngIf="!isLoggedIn" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <button class="button" (click)="login()">Login</button>
    <button class="button" (click)="register()">Register</button>
</div>
