<div *ngIf="isLoggedIn" style="display: flex; justify-content: center; align-items: center;">
    <app-button variant="secondary" class="button" (click)="showPanel = !showPanel">Hi {{user.name}}</app-button>
    <!-- <div *ngIf="showPanel" class="panel"> -->
    <app-button class="button" variant="secondary" (click)="logout()">Logout</app-button>
    <!-- </div> -->
</div>
<div *ngIf="!isLoggedIn" style="display: flex; justify-content: center; align-items: center">
    <app-button class="button" variant="secondary" (click)="login()">Login</app-button>
    <app-button class="button" variant="secondary" (click)="register()">Register</app-button>
</div>
