<app-grid [columns]="12" [rows]="12">
    <app-tile style="grid-column: 0 / 2; grid-row: 2 / 12; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <ot-heading [size]="'20px'" [text]="'Currently Available features:'"/>
        <ot-list [type]="'block-list'" [items]="featureItems" />
    </app-tile>
    <app-tile style="grid-column: 2 / 10; grid-row: 2 / 4; display: flex; flex-direction: column;">
        <ot-heading [size]="'30px'" [text]="'Optomistic Tanuki'"/>
        <ot-heading [size]="'20px'" [text]="'Learn, Grow, Thrive – Side-by-Side'"/>
    </app-tile>
    <app-tile
        style="grid-column: 2 / 10; grid-row: 4 / 12; display: flex; flex-direction: column; align-items: center; justify-content: center;"
    >
        <ot-heading [size]="'20px'" [text]="'Coming Soon...'"/>
        <ot-heading [size]="'15px'" [text]="'Stay tuned for updates'"/>
        <app-card>
            <ot-heading [size]="'20px'" [text]="'Unleash Your Best Self, Together'"/><br/>
            <ot-heading [size]="'15px'" [text]="'This is a new kind of social network where you connect, grow, and uplift each other on your journey of self-improvement. Inspired by the transformative spirit of the tanuki, we\'re building a community powered by positivity and mutual encouragement. We believe that working to a better world can be accomplished by simply following the mantra &#34;Everyone does better when we help each other do better&#34;'"/>
        </app-card>

        <ot-heading [size]="'20px'" [text]="'Why the Tanuki?'" />
        <ot-heading [size]="'15px'" [text]="'The tanuki is a symbol of positivity and good luck in Japanese culture. It is known for its playful and mischievous nature, but also for its ability to bring good fortune to those who encounter it. We believe that this spirit of positivity and good luck is what we need to bring to the world, and that we can achieve this by helping each other do better.'"/>
    </app-tile>


    <app-tile style="grid-column: 11 / 13; grid-row: 2 / 12; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <ot-heading [size]="'20px'" [text]="'Follow Us'"/>
        <ot-heading [size]="'15px'" [text]="'Stay updated with our latest news and updates'"/>
        <app-card>
            <ot-heading [size]="'18px'" [text]="'Follow Us'"/><br/>
            <ot-heading [size]="'15px'" [text]="'Stay updated with our latest news and updates'"/>
        </app-card>
    </app-tile>
</app-grid>
