<div class="default-container login-container"
  [ngStyle]="themeStyles"
>
  <mat-card class="default-container login-card" [ngStyle]="themeStyles">
    <div class="flex-row">
      <div class="flex-col">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              type="password"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>MFA Token</mat-label>
            <input matInput formControlName="mfaToken" type="text" required />
          </mat-form-field>
        </form>
      </div>
      <div class="action flex-col">
        <img src="assets/tanuki.jpg" alt="" width="300px" />
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
          Login
        </button>
      </div>
    </div>
  </mat-card>
</div>
