<mat-card class="profile-banner">
  <div
    class="profile-banner-image"
    [style.backgroundImage]="'url(' + bannerPhoto + ')'"
    style="height: 100%; width: 100%"
  >
    <div class="profile-banner-image-filter"></div>
  </div>
  <img class="profile-picture" [src]="profilePicture" alt="Profile Picture" />
</mat-card>

<app-card >
<!-- <div class="friends"> -->
    <div class="filter">
      <h2>Friends</h2>
      <app-grid [columns]="6" [rows]="1">
          <app-friends *ngFor="let friend of friends" [friend]="friend"></app-friends>
      </app-grid>
    </div>
  <!-- </div> -->
</app-card>

<div>
  <app-card>
    <div class="filter">
      <h2>Photo Galleries</h2>
      <app-grid [columns]="6" [rows]="1">
          <app-gallery *ngFor="let gallery of photoGalleries" [data]="gallery"></app-gallery>
      </app-grid>
    </div>
  </app-card>
</div>

<div>
  <app-card class="posts">
    <div class="filter">
      <h2>Recent Posts</h2>
      <div id="post-container">
        <div *ngFor="let post of recentPosts">
          <app-post [content]="post"></app-post>
        </div>
      </div>
    </div>
  </app-card>
</div>
