<lib-register-block
  [title]="'Optomitic Tanuki'"
  callToAction="Start a journey together"
  heroSource="assets/tanuki.jpg"
  heroAlt="The Optomitic Tanuki"
  (submitEvent)="onSubmit($event)"
>
</lib-register-block>
<!-- <mat-card class="container-card" [class]="'background-gradient-' + theme">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input placeholder="First Name" matNativeInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input placeholder="Last Name" matNativeInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matNativeInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input placeholder="Password" matNativeInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input placeholder="Confirm Password" matNativeInput type="password" formControlName="confirmation">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bio</mat-label>
      <textarea matNativeInput formControlName="bio"></textarea>
    </mat-form-field>
    <button mat-raised-button class="button-default" color="primary" type="submit">Register</button>
  </form>
  
</mat-card> -->
