<div class="toggle-container" [ngStyle]="{
    'background-color': background,
    'color': foreground, 
    'border-color': accent,
    'transition-duration': transitionDuration
}">
  <form action="none">
    <label for="accent-color">
      Light
      <mat-slide-toggle type="checkbox" [color]="accent" [checked]="theme === 'dark'" (change)="toggleTheme()" />
      Dark
    </label>
    <input type="color" name="accent-color" [(ngModel)]="accentColor" (change)="updateAccentColor()" />
  </form>
</div>
