<button mat-raised-button (click)="openCommentDialog()">Add Comment</button>

<ng-template #commentDialog>
    <h2 mat-dialog-title>Add a Comment</h2>
    <mat-dialog-content>
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Comment</mat-label>
                <textarea matInput formControlName="comment"></textarea>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!commentForm.valid">Submit</button>
    </mat-dialog-actions>
</ng-template>
