<form class="compose-form" [formGroup]="composeForm" (ngSubmit)="submit()">
  <textarea formControlName="content" placeholder="What's on your mind?"></textarea>
  <div class="action-area">
    <button mat-raised-button class="default-button" color="primary" type="button" (click)="attachmentComponent.openFileDialog()">Add Attachment</button>
    <app-link></app-link>
    <button mat-raised-button class="default-button" color="primary" type="submit">Post</button>
    <button mat-raised-button class="default-button" color="warn" type="button" (click)="close()">Close</button>
  </div>
  <app-attachment (attachmentsChanged)="attachmentChanged($event)"></app-attachment>
</form>
