<button mat-icon-button (click)="openLinkDialog()" class="button-default">
  <mat-icon>link</mat-icon>
</button>

<ng-template #linkDialog>
  <h2 mat-dialog-title>Add a Link</h2>
  <mat-dialog-content>
    <form [formGroup]="linkForm" (ngSubmit)="addLink($event)">
      <mat-form-field appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput formControlName="url" placeholder="Enter URL">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" placeholder="Enter Description">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="button-default" (click)="cancel()">Cancel</button>
    <button class="button-default" mat-raised-button color="primary" type="submit" [disabled]="!linkForm.valid">Add Link</button>
  </mat-dialog-actions>
</ng-template>
