@import '../../../variables.scss';

.post-container {
  margin: 20px;
  @extend .border-default;
  @extend .shadow-default;
  border-radius: 5px;
  padding: 20px;
  .post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
  }
}

mat-card-actions.actions {
  display: flex;
  justify-content: space-between;
}

.attachment,
.link {
  margin-top: 10px;
}
