<svg width="300" height="300" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="stainedGlassPattern" patternUnits="userSpaceOnUse" width="60" height="60">
        <rect width="60" height="60" fill="var(--fill-color-1)" />
        <polygon points="0,0 30,0 15,30" [attr.fill]="fill1" />
        <polygon points="30,0 60,0 45,30" [attr.fill]="fill2" />
        <polygon points="0,30 30,30 15,60" [attr.fill]="fill3" />
        <polygon points="30,30 60,30 45,60" [attr.fill]="fill4" />
      </pattern>
    </defs>
  
    <rect width="300" height="300" fill="url(#stainedGlassPattern)" />
  </svg>